<div class="row">
    <div class="col-sm-4 invisible-sm">
        <img src="{{ asset('img/contact-bg.gif') }}" alt="" class="img-responsive"/>
    </div>
    <div class="col-sm-8">
        <div>
            {{ sonata_page_render_container('content') }}
        </div>


        <div role="tabpanel" class="acl-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Fale Conosco</a>
                </li>
            </ul>
            <div class="tab-content">
                {% if message %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endif %}
                <div role="tabpanel" class="tab-pane active" id="contact">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Enviar" class="btn btn-default" />
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
        {#
        <div role="tabpanel" class="acl-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#contact-general" aria-controls="contact-general" role="tab" data-toggle="tab">Contato Comercial</a>
                </li>
                <li role="presentation" class="">
                    <a href="#contact-tecnical" aria-controls="contact-trainning" role="tab" data-toggle="tab">Contato Técnico</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="contact-general">
                    <div class="">
                        <form action="{{ path('acl.main.contact.general') }}" method="post" role="form">
                            <div class="form-group">
                                <label for="input-general-email" class="sr-only">Email</label>
                                <input class="form-control" id="input-general-email" type="text" placeholder="Email" name="email"/>
                            </div>
                            <div class="form-group">
                                <label for="input-general-subject" class="sr-only">Assunto</label>
                                <input class="form-control" id="input-general-subject" type="text" placeholder="Assunto" name="subject"/>
                            </div>
                            <div class="form-group">
                                <label for="input-general-message" class="sr-only">Nome</label>
                                <textarea class="form-control" id="input-general-message" placeholder="Mensagem" name="message"></textarea>
                            </div>


                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('contact') }}">
                            <button type="submit" class="btn btn-primary contact-button">Submit</button>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="contact-tecnical">

                    <form action="{{ path('acl.main.contact.tecnical') }}" method="post" role="form">
                        <div class="form-group">
                            <label for="input-tecnical-email" class="sr-only">Email</label>
                            <input class="form-control" id="input-tecnical-email" type="text" placeholder="Email" name="email"/>
                        </div>
                        <div class="form-group">
                            <label for="input-tecnical-subject" class="sr-only">Assunto</label>
                            <input class="form-control" id="input-tecnical-subject" type="text" placeholder="Assunto" name="subject"/>
                        </div>
                        <div class="form-group">
                            <label for="input-tecnical-message" class="sr-only">Nome</label>
                            <textarea class="form-control" id="input-tecnical-message" placeholder="Mensagem" name="message"></textarea>
                        </div>


                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('contact') }}">
                        <button type="submit" class="btn btn-primary contact-button">Submit</button>
                    </form>

                </div>
            </div>
        </div>
        #}
    </div>
</div>
