<div class="row">

    <div class="col-sm-3">

        {% block product_category %}
            {{ sonata_block_render({'type': 'acl.block.service.categories_menu', 'settings': {
                'current_uri': app.request.requestUri,
                'extra_cache_keys': {
                    'block_id':    'acl.block.service.categories_menu',
                    'updated_at':  'now',
                },
                'ttl': 600
            }}) }}
        {% endblock %}

    </div>

    <div class="col-sm-9">
    {% block content  %}
            <div class="catalog-grid">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="catalog-title">
                                {% if category %}
                                    {{ category.name }}
                                {% elseif search %}
                                    Busca por: {{ search }}
                                {% else %}
                                    Produtos
                                {% endif %}
                            </h4>

                        </div>
                        <div class="col-sm-9">
                            {% if categoryIcons %}
                            <ul class="category-icons">
                                {% for categoryIcon in categoryIcons|slice(0, 4) %}
                                <li>
                                    <a href="{{ url('catalog_category', {'category_slug': categoryIcon.slug, 'category_id': categoryIcon.id}) }}"
                                       {% if rootCategory and rootCategory.id == categoryIcon.id %}
                                            class="category-icon-active"
                                        {% endif %}
                                            >
                                        <img src="{% path categoryIcon.media, 'icon' %}" alt="{{ categoryIcon.name }}" title="{{ categoryIcon.name }}"/>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{ form_start(searchForm) }}
                            {{ form_widget(searchForm.title, { 'attr': {'placeholder': 'Buscar'} }) }}
                            {{ form_end(searchForm) }}
                            {#% include 'ACLMainBundle:Catalog:_pager.html.twig' %#}
                        </div>
                    </div>
                </div>

                {% block products %}{% endblock %}

                {% if pager.paginationData.pageCount > 1 %}
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                {% include 'ACLMainBundle:Catalog:_pager.html.twig' %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
    {% endblock %}
    </div>
</div>
