<div class="product-block">
<h2 class="product-name">
    {{ product.name }}
</h2>
<h4 class="product-subname">
    {{ product.subname }}
</h4>
{% if product.gallery %}
    {# Rendering image gallery #}
    <!-- Jssor Slider Begin -->
    <!-- You can move inline styles to css file or css block. -->
    <div id="{{ product.slug }}" class="jssor-gallery"
         style="position: relative; width: 600px; height: 300px;">

        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 600px; height: 300px;
            overflow: hidden;">
            {% set images = product.gallery.getGalleryHasMedias %}
            {% for image in images %}
                {% if image.getMedia %}
                <div>
                    {% media image.getMedia, 'view' with {'u': 'image'} %}
                    {% media image.getMedia, 'thumbnail' with { 'class': 'i', 'u': 'thumb'} %}
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Thumbnail Navigator Skin Begin -->
        <div u="thumbnavigator" class="jssort06" style="position: absolute; width: 100px; height: 300px; right:0px; bottom: 0px;">
            <!-- Thumbnail Item Skin Begin -->
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 100px; height: 60px; top: 0; left: 0;">
                    <div class="o" style="position:absolute;top:0px;left:0px;width:100px;height:60px;overflow:hidden;">
                        <div u="thumbnailtemplate" class="b" style="width:100px;height:60px; border: none;position:absolute; top: 0; left: 0;"></div>
                        <div class="i"></div>
                        <div u="thumbnailtemplate" class="f" style="width:100px;height:60px;border: none;position:absolute; top: 0; left: 0;"></div>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Thumbnail Navigator Skin End -->

    </div>
    <!-- Jssor Slider End -->








{% else %}
    {# render main image #}
    <div class="panel">
        {% media product.image, 'view' with {'itemprop': 'image', 'class': 'img-responsive img-rounded'} %}
    </div>
{% endif %}
<br/>
{# render tabs #}
<div role="tabpanel" class="acl-tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% if product.description %}
        <li role="presentation" class="active">
            <a href="#product-description" aria-controls="product-description" role="tab" data-toggle="tab">Descriçao Geral</a>
        </li>
        {% endif %}
        {% if product.content %}
        <li role="presentation">
            <a href="#product-content" aria-controls="product-content" role="tab" data-toggle="tab">Especificações
                Técnicas</a>
        </li>
        {% endif %}
        {% if product.downloads %}
        <li role="presentation">
            <a href="#product-downloads" aria-controls="product-downloads" role="tab" data-toggle="tab">Downloads</a>
        </li>
        {% endif %}
        {% if product.softwares %}
            <li role="presentation">
                <a href="#product-software" aria-controls="product-software" role="tab" data-toggle="tab">Software</a>
            </li>
        {% endif %}
        {% if product.images %}
            <li role="presentation">
                <a href="#product-images" aria-controls="product-images" role="tab" data-toggle="tab">Imagens</a>
            </li>
        {% endif %}
        {% if product.videos %}
        <li role="presentation">
            <a href="#product-videos" aria-controls="product-videos" role="tab" data-toggle="tab">Vídeos</a>
        </li>
        {% endif %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% if product.description %}
        <div role="tabpanel" class="tab-pane active" id="product-description">
            <div class="product-description">
                {{ product.description|raw }}
            </div>
        </div>
        {% endif %}
        {% if product.content %}
        <div role="tabpanel" class="tab-pane" id="product-content">
            <div class="product-content">
                {{ product.content|raw }}
            </div>
        </div>
        {% endif %}
        {% if product.downloads %}
        <div role="tabpanel" class="tab-pane" id="product-downloads">
            {% set downloads = product.downloads.getGalleryHasMedias %}
            {% for download in downloads %}
                <div>
                    <a target="_blank" href="{% path download.media, 'reference' %}">{{ download.media.name }}</a>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if product.softwares %}
        <div role="tabpanel" class="tab-pane" id="product-software">
            {% if is_granted('ROLE_DOWNLOAD') %}
                {% set softwares = product.softwares.getGalleryHasMedias %}
                {% for software in softwares %}
                    <div>
                        <a href="{% path software.media, 'reference' %}">{{ software.media.name }}</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>
                    Para acessar os downloads, faça login:
                </p>
                <div>
                    <form action="{{ path("fos_user_security_check") }}" method="post" role="form"
                          class="form-horizontal">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <input type="hidden" name="_target_path"
                               value="{{ url(app.request.attributes.get('_route'),
                               app.request.attributes.get('_route_params')) }}"
                        />
                        <div class="form-group">
                            <label for="username"
                                   class="col-lg-3 col-sm-3 control-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

                            <div class="col-lg-9 col-sm-9"><input type="text" class="form-control" id="username"
                                                                  name="_username" value=""
                                                                  required="required"/></div>
                        </div>


                        <div class="form-group control-group">
                            <label for="password"
                                   class="col-lg-3 col-sm-3 control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                            <div class="col-lg-9 col-sm-9"><input type="password" class="form-control" id="password"
                                                                  name="_password" required="required"/></div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox control-group">
                                    <label for="remember_me">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group control-group">
                            <div class="controls col-sm-offset-3 col-sm-9">
                                <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <input type="submit" id="_submit" name="_submit" class="btn btn-primary"
                                       value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                            </div>
                        </div>

                    </form>
                </div>
            {% endif %}
        </div>
        {% endif %}
        {% if product.images %}
        <div role="tabpanel" class="tab-pane text-center" id="product-images">
            {% set images = product.images.getGalleryHasMedias %}
            {% for image in images %}
                {% if image.media %}
                    {% media image.media, 'view' %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if product.videos %}
        <div role="tabpanel" class="tab-pane text-center" id="product-videos">
            {% set videos = product.videos.getGalleryHasMedias %}
            {% for video in videos %}
                {% media video.media, 'small' %}
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>
</div>
