{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ACLMainBundle::base_layout.html.twig' %}

{% block sonata_page_container %}
    <header class="site-header">
        <div class="container">
            <div class="content">
                <div class="row">
                    <a class="logo col-md-3" href="{{ path('page_slug', {'path' : '/'}) }}">
                        <img class="img-responsive" src="{{ asset('img/logo.png') }}" alt="ACL Security"/>
                    </a>
                    <div class="col-md-9" role="navigation">
                        {{ knp_menu_render('ACLMainBundle:Builder:mainMenu', { template: 'ACLMainBundle:MenuRenderer:knp_menu.html.twig'}  ) }}
                    </div>

                </div>
                <div class="row">
                    {{ sonata_page_render_container('header', 'global') }}
                </div>
            </div>
        </div>
    </header>

    {% if page is defined %}
        <div>
            {% if page.name != 'global'%}
                {{ sonata_page_render_container('content_top', 'global') }}
            {% endif %}
            {{ sonata_page_render_container('content_top', page) }}
        </div>
    {% endif %}

    <div class="container">
        <div class="content">
            <div class="row">
                {% block page_content %}
                    {% if content is defined %}
                        {{ content|raw }}
                    {% else %}
                        {% set content = block('content') %}
                        {% if content|length > 0 %}
                            {{ content|raw }}
                        {% elseif page is defined %}
                            {{ sonata_page_render_container('content', page) }}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>

            {% if page is defined %}
                <div class="row">
                    {{ sonata_page_render_container('content_bottom', page) }}

                    {% if page.name != 'global'%}
                        {{ sonata_page_render_container('content_bottom', 'global') }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <footer>
        {{ sonata_page_render_container('footer', 'global') }}
        <div class="container">
            <div class="row">
                <div class="copyright col-xs-6">
                    Todos os Direitos Reservados a ACL® Security
                </div>
                <div class="col-xs-6 text-right"><a class="doisd" href="http://doisd.com.br" target="_blank">[2:d]</a></div>
            </div>
        </div>
    </footer>

{% endblock %}
